*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{

height: 100%;
width: 100%;
overflow: hidden;

}

#main{

    height: 100%;
    width: 100%;
    background-color: #bfa5ab;
    display: flex;
}

#part1{
    height: 100%;
    width: 26%;
    /* background-color: red;    */
}

#part2{
    height: 100%;
    width: 67%;
    background-color: blue;
    background-image: url(https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80); 
    background-size: cover;  
    background-position: center;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: #ac9ea169;
}
#overlay3{
    height: 100%;
    width: 100%;
    background-color: #ac9ea166;
}
#part3{
    height: 100%;
    width: 7%;
    /* background-color: green;    */
}

#text-div{
    height: 300px;
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left: 7%;
    top: 50%;
    transform: translate(0,-50%);
}

#text-div>h1{
    font-size: 95px;
    font-family: monument;
    font-weight: 800;
    letter-spacing: 8px;
    line-height: 78px;
    color: white;
    text-transform: uppercase;
}

#small-image{
    height: 400px;
    width: 300px;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1613323593608-abc90fec84ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80); 
    background-size:cover ;
    position: absolute;
    background-position: center;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);

}

#vertical-text{ 
    position: absolute;
    transform: rotate(90deg);
    right: -54%;
    top: -7%;
    transform-origin: 0% 0%;
    /* width: 100%; */
    /* background-color: red; */
}

#vertical-text h1{
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 10px;
    text-transform: uppercase;  
    color: transparent;
    font-family: monument;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

#nav{
display: flex;
position: absolute;
align-items: center;
width: 350px;
left: 7%;
top: 5%;
/* background-color: red; */
justify-content: space-between;

}

#nav img{
    height: 60px;
}

#nav h5{
    font-size: 20px;
    color: white;
    font-family: gilroy;
}